@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-gray: rgb(223, 223, 223);
  --dark-blue: rgb(0, 52, 194);
  --main-blue: rgb(102, 152, 203);
  --light-blue: rgb(177, 208, 240);
  --lightest-blue: rgb(210, 228, 245);
  --light-orange: rgb(254, 196, 128);
  --dark-orange: rgb(255, 153, 53);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

html, body {
  background-color: var(--light-gray);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}